@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand|Playfair+Display:700i,900");

html,
body {
  margin: 0;
  width: 100%;
}

h1,
h2,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Shadows Into Light", serif;
  font-size: 48px;
  text-align: left;
  margin-bottom: 8px;
}

h2 {
  font-family: "Shadows Into Light", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin: 40px 0 40px 0px;
  text-align: left;
  line-height: 34.5px;
  letter-spacing: -0.45px;
}

p,
i,
a,
li {
  margin-top: 21px;
  font-family: "Quicksand";
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  text-decoration: underline;
}

blockquote {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 30px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

code {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 3px 5px;
}

pre > code {
  background: transparent !important;
  font-family: "Quicksand";
  font-size: 18px;
  padding: 0px;
}

pre {
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px !important;
}

mark,
.highlighted {
  background: #7dffb3;
}

.first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-family: "Shadows Into Light", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

::selection {
  background-color: lavender;
}

.blog-div-main {
  margin: 2rem auto 0;
  width: 90%;
  max-width: 700px;
  padding: 20px 10px;
}

/* Slide up */

.blog-post-anchor {
  color: #343139;
  text-decoration: none;
  /* border-bottom: 0.125em solid #2b2827; */
  box-shadow: inset 0 -0.125em 0 #0e0d0d;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  padding-right: 2px;
  padding-left: 2px;
}

.blog-post-anchor:hover {
  box-shadow: inset 0 -1.125em 0 #080808;
  color: white;
}

/* a:focus {
  background: #fff;
  outline: none;
  background: #080808;
  color: #fff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
} */

.blog-title {
  /* text-align: center; */
}

img {
  max-width: 100%;
  height: auto;
}

.blog-date {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.blog-date > a {
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in, ease-in, ease-in;
  transition-delay: 0s, 0s, 0s;
  color: rgba(0, 0, 0, 0.54);
}
.blog-date > a:hover {
  color: rgba(0, 0, 0, 0.84);
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 40px; /* половина ширины и высоты */
  margin: 10px;
  margin-left: 0px;
}

.author-name {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.84);
}

.author-details {
  display: flex;
  align-items: center;
}
.blog-view {
  margin: 2rem auto 0;
  width: 90%;
  max-width: 700px;
  padding: 20px 10px;
  position: relative;
}
.reaction-github-emoji {
  position: absolute;
  bottom: 60px;
}

.anim-scale-in {
  animation-name: scale-in;
  animation-duration: 0.15s;
  animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .blog-title {
    /* text-align: center; */
    font-size: 30px;
  }

  p,
  i,
  a,
  li {
    font-size: 18px;
  }
  blockquote {
    font-size: 20px;
  }
}
