.blog-card-div{
    cursor: pointer;
    margin-bottom: 6rem;
}

.blog-card-description > p {
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog-card-title > h2{
    font-size: 34px;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in, ease-in, ease-in;
    transition-delay: 0s, 0s, 0s;
   
}

.blog-card-title > h2:hover{
    opacity: 0.7
   
}


.blog-catgeory{
    display: inline-block;
    background: #009bbb;
    border-radius: 3px;
    padding: 3px 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    line-height: 28px;
    font-family: "Quicksand";
    margin-right: 10px;
}

.reading-time{
    color: #b5b5b5;
    font-size: 15px
}

.blog-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}